<div id="content-container-div" class="text-light mt-5">

    <div id="profile-picture-div" class="d-flex justify-content-between">
        <img id="profile-picture" src="../../assets/profile-picture.gif" style="width: 100%; border-radius: 5px;">
        <button id="resume-download-btn" type="button" class="btn btn-light align-self-center">
            <a href="../../assets/Resume_Vikasdeep_Jangra.pdf" target="_blank" download="Resume_Vikasdeep" class="text-dark">
                <i class="bi bi-download"></i> Resume
            </a>
        </button>
    </div>

    <div id="about-me-div" class="mt-3">
        <h2>Hello,<br> <h2 class="text-warning">I'm Vikasdeep</h2></h2>
        <p>A Web Developer Based in Bangalore.</p>
        <p>Currently Learning: <img src="../../assets/currently-learning.png" width="10%"></p>
    </div>

</div>