<div id="nav-container-div">
    <ul>
        <li class="me-4">
            <h4 class="bg-dark text-light" (click)="showContentArea()"><i class="bi bi-house-door-fill" style="cursor: pointer;"></i></h4>
        </li>

        <li class="me-4">
            <h4 class="bg-dark text-light"><i class="bi bi-brightness-high-fill" style="cursor: pointer;"></i></h4>
        </li>


        <li class="me-4">
            <a href="https://twitter.com/vikasdeepjangra" target="_blank" class="text-light font-weight-bold">
            🐤 twitter</a>
        </li>

        <li class="me-4">
            <a href="https://github.com/vikasdeepjangra" target="_blank" class="text-light font-weight-bold">
            🧰 github</a>
        </li>
        
        <li>
            <a href="https://www.linkedin.com/in/vikasdeep-jangra-4275a2110/" target="_blank" class="text-light font-weight-bold">
            🔗 linkedIn</a>
        </li>
    </ul>
</div>

